In [1]:
from google.colab import drive
drive.mount('/content/gdrive')
%cd gdrive/My Drive/15859/matrix-factorization

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/My Drive/15859/matrix-factorization

In [2]:
import numpy as np
import pandas as pd

In [3]:
filename = 'data/ml-latest-small/ratings.csv'
df = pd.read_csv(filename)
df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [4]:
A = np.zeros((193609, 610))
for index, row in df.iterrows():
    A[int(row['movieId']-1), int(row['userId']-1)] += 1
with open('data/A.npy', 'wb') as f:
    np.save(f, A)

In [3]:
with open('data/A.npy', 'rb') as f:
    A = np.load(f)

In [5]:
np.linalg.matrix_rank(A)

610

In [ ]:
U, S, VT = np.linalg.svd(A)
print(S)